API_BASE_URL=http://localhost:8080
APP_SCHEME=mobileapp

# Google (OAuth Client ID for your app; for AuthSession use the "Web client" ID)
GOOGLE_CLIENT_ID=611474666857-f0aojekvd0s7kl0ne9fdt7n3mvpgst74.apps.googleusercontent.com

# Microsoft (Azure AD app registration)
MICROSOFT_CLIENT_ID=
MICROSOFT_TENANT=common